.main-container{
	margin-top: 40px;
	height: auto;
	border: 1px solid red;
}
.right-box {
	border-left: 1px solid #dddddd;
	padding: 0 !important;
}
.up-right-box{
	height: 75px;
	margin-top: 7px;
}
.mounth-span{
	display: inline-block;
	float: left;
	width: 18%;
	text-align: left;
	margin-left: 15px;
	font-size: 19px;
	margin-top: 12px;
}
.tag{
	display: inline-block;
	float: left;
	width: 50%;
	text-align: center;
	font-size: 18px;
	margin-top: 12px;
}
.tag p{
	font-size: 14px;
	color: #818494;
}
.search-box {
	border: 2px solid #fff;
	box-shadow: 5px 11px 16px #C1BDC8;
	border-radius: 30px;
	margin: 5px -1px 0 0;
	width: 30%;
	float: right;
	background: #fbfefe
}
.p-search {
	display: inline-block;
	float: left;
	position: relative;
	top: 4px;
	color: #818494;
	left: 5px;
}
.fa.fa-search {
	display: inline-block;
	float: left;
	padding: 7px;
	position: relative;
	top: 2px;
	margin-left: 9px;
	border-radius: 14px;
	color: #818494;
	background:#f1f1f1;
}
.ul-pagination {
	display: inline-block;
	list-style: none;
	width: 66%;
	float: left;
	margin-top: 25px;
}
.li-select{
	display: inline-block;
}
.Previous-icon ,.next-icon{
	width: 21px;
	height: 21px;
	background: #CFCED2;
	border-radius: 50%;
	margin: 0 10px;
	display: inline-block;
}
.fa-angle-left ,.fa-angle-right{
	font-size: 17px;
	position: relative;
	top: 1px;
	right: 8px;
}
.li-select{
	padding: 5px;
	color: #818494;
}
.li-select.active {
	background: #EA810D;
	color: #fff;
	border-radius: 16px;
	padding: 2px 6px 2px 6px;
	box-shadow: 5px 11px 16px #C1BDC8;
}
.div-pagination {
	height: 75px;
}
.days {
	height: 65px;
	background: #EBEDF1;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	text-align: center;
	padding-top: 22px;
	box-shadow: 5px 11px 16px #c1bdce;
	position: relative;
	top: 16px;
}
.name-days {
	display: inline-block;
	width: 13.8%;
}
.name-days span{
	padding: 20px;
}
.table-day td {
	text-align: center;
	height: 106px;
	font-size: 12px;
}
.table-day .first-td{
	position: relative;
	top: 16px;
	font-size: 13px;
}
.td-active{
	width: 14.7%;
}
table.table-day.table.table-bordered{
	border-color: #c1bdce !important;
	background: #f8f8f8;
}
.style-DaysTable {
	background: #ffff;
	padding: 3px;
	box-shadow: 5px 8px 13px #c1bdce;
	border-radius: 20px;
}
.active-day span {
	background: #CFCED2;
	padding: 5px;
	border-radius: 50px;
}
.img-pro {
	float: left;
	margin: 5px 15px 0 7px;
}
.text-pro {
	text-align: left;
	position: relative;
	top: 14px;
	color: #333;
}
.fa-plus {
	float: left;
	color: #818494;
	background: #f1f1f1;
	padding: 4px;
	box-shadow: 1px 1px 15px #818494;
	border-radius: 50%;
}
.left-box{
	padding: 0 !important;
}
.profile {
	background: #EBEDF1;
	height: 72px;
	border-bottom: 1px solid #c1bdce;
}
.div-tasks {
	border: 1px solid #fff;
	width: 94%;
	background: #fbfefe;
	margin: 0 auto;
	margin-top: 20px;
	box-shadow: 10px 10px 12px #c1bdce;
	border-radius:25px;
}
.add-task {
	float: left;
	padding: 5px 8px;
	margin: 15px 0 0 20px;
	border-radius: 25px;
	border: 1px solid #fff;
	box-shadow: 10px 10px 15px #c1bdce;
}
.add-task span{
	margin-left: 15px;
	color: #818494
}
.button-add {
	height: 65px;
}
.li-task {
	list-style-image:url('../img/circle.png');
	font-family: cursive;
}
.detail-task {
	direction: ltr;
	margin-left: 10px;
	margin-top: 20px;
}
.li-task span{
	color: red;
	display: block;
}
.text-task {
	width: 85%;
	float: right;
}
.text-task{
	color: #777;
}
.buttons {
	width: 15%;
}
.btns {
	display: block;
	width: 25px;
	height: 25px;
	margin: 12px 5px;
	border: 2px solid;
	background: none;
	border-radius: 50px;
	color: #777;
}
.text-task span {
	font-size: 14px;
	font-family: cursive !important;
	line-height: 30px;
}
.difrent-span p {
	margin-top: -6px;
	font-size: 11px;
	font-family: arial !important;
}
.taskColor{
	color: #E6433B;
}
span.difrent-span {
	position: relative;
	bottom: 12px;
}
.compelet-box {
	border: 1px solid #fff;
	width: 94%;
	margin: 35px auto 0 auto;
	border-radius: 25px;
	box-shadow: 10px 10px 12px #c1bdce;
	background: #fbfefe;
}
.p-done {
	display: inline-block;
	text-align: left;
	float: left;
	font-family: cursive !important;
	margin: 15px 0;
	color: #777;
}
.btn-done {
	display: inline-block;
	margin: 9px;
	padding: 3px 5px;
	border: none;
	border-radius: 50%;
	background: #f1f1f1;
	color: #818494;
	box-shadow: 1px 1px 10px #818494;
}
.fa-angle-down{
	font-size: 22px;
}